<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118660317591-lb303jd1kr4iessltjm8a1favls26c6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118660317591-lb303jd1kr4iessltjm8a1favls26c6e</string>
	<key>API_KEY</key>
	<string>AIzaSyA1zBaGvKZWMT24Y97vgY26ea4WiqS0Ux0</string>
	<key>GCM_SENDER_ID</key>
	<string>118660317591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myPetWatch</string>
	<key>PROJECT_ID</key>
	<string>mypetwatchapplication</string>
	<key>STORAGE_BUCKET</key>
	<string>mypetwatchapplication.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118660317591:ios:8a7db5121ade2948c144d2</string>
</dict>
</plist>